# Flanger DQAF

## Introduction
The Flanger DQAF is a toolkit to assess the quality of datasets used for AI/ML purposes. Quality refers to the degree of bias, fairness, accuracy, and transparency in the dataset.
This tool is intended to be used to get an accurate assessment of the quality of the dataset and to provide a detailed report on the quality of the dataset, hence allowing for better decision making in the AI/ML pipeline.

In [ ]:
!pip install pandas

In [5]:
import pandas as pd
import numpy as np

In [11]:
def load_data(file_path):
    return pd.read_csv(file_path)

df = load_data('dataset\Bank_Personal_Loan_Modelling.csv')
df.head(10)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0

In [12]:
# 1. Checking for missing values report
def missing_values_report(df):
    missing_values = df.isnull().sum()
    missing_values = missing_values[missing_values > 0]
    missing_values = missing_values.sort_values(ascending=False)
    return missing_values

missing_values_report(df)

Series([], dtype: int64)

In [13]:
# 2.

Empty DataFrame
Columns: [ID, Age, Experience, Income, ZIP Code, Family, CCAvg, Education, Mortgage, Personal Loan, Securities Account, CD Account, Online, CreditCard]
Index: []